<app-navbar></app-navbar>
@if (!loading) {
<div class="container-fluid mt-5">
  <div class="row mx-3">
    <div class="col-lg-12">
      <div class="text-end mb-3 mt-4">
        @if(isAppAdmin){
        <button class="btn btn-primary" routerLink="/project/create">Create</button>
        }
      </div>
      <div class="card rounded-0">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0">Projects</h5>
          <input type="text" name="" id="" [(ngModel)]="searchValue" class="rounded-1 border">
        </div>
        <div class="card-body p-4">
          <div class="table-responsive">
            <table class="table table-striped border">
              <thead>
                <tr>
                  <!-- <th>#</th> -->
                  <th (click)="sortTable('name')">Name
                    <i class="fa-solid fa-angle-up" *ngIf="!sortName"></i>
                    <i class="fa-solid fa-angle-down" *ngIf="sortName"></i>
                  </th>
                  <th (click)="sortTable('key')">Key
                    <i class="fa-solid fa-angle-up" *ngIf="!sortKey"></i>
                    <i class="fa-solid fa-angle-down" *ngIf="sortKey"></i>
                  </th>
                  <th (click)="sortTable('access')">Access
                    <i class="fa-solid fa-angle-up" *ngIf="!sortAccess"></i>
                    <i class="fa-solid fa-angle-down" *ngIf="sortAccess"></i>
                  </th>
                  <th (click)="sortTable('categoryName')">Category
                    <i class="fa-solid fa-angle-up" *ngIf="!sortCategoryName"></i>
                    <i class="fa-solid fa-angle-down" *ngIf="sortCategoryName"></i>
                  </th>
                  <th (click)="sortTable('created_By')">Lead
                    <i class="fa-solid fa-angle-up" *ngIf="!sortCreated_By"></i>
                    <i class="fa-solid fa-angle-down" *ngIf="sortCreated_By"></i>
                  </th>
                  <th (click)="sortTable('created_at')">Date
                    <i class="fa-solid fa-angle-up" *ngIf="!sortCreated_at"></i>
                    <i class="fa-solid fa-angle-down" *ngIf="sortCreated_at"></i>
                  </th>
                  @if(isAppAdmin){
                  <th class="text-center" scope="col">Action</th>
                  }
                </tr>
              </thead>
              <tbody>
                @for( project of filteredData| sort:sortField:sortAscending; track project.id; ){
                <tr>
                  <!-- <th class="text-left" scope="row">{{serialNumber(i)}}</th> -->
                  <td class="text-left cursor" (click)="currentProject(project)">{{ project.name}}</td>
                  <td class="text-left">{{ project.key }}</td>
                  <td class="text-left">{{ project.access }}</td>
                  <td class="text-left">{{ project.categoryName }}</td>
                  <td class="text-left">{{ project.created_By}}</td>
                  <td class="text-left">{{ project.created_at | date:'dd/MM/yyyy' }}</td>
                  @if(isAppAdmin){
                  <td class="text-left">
                    <i class="fa fa-trash" aria-hidden="true" style="font-size:16px;color:red; cursor:pointer;"
                        (click)="deleteProject(project.id)"></i>
                  </td>
                  }
                </tr>
                }
                @empty {
                <td colspan="10" class="text-center"> There are no items. </td>
                }
              </tbody>
            </table>
            <div class="d-flex justify-content-end" *ngIf="!isSearchEmpty">
              <nav>
                <ul class="pagination mb-0">
                  <li class="page-item" [ngClass]="{ disabled:pageNumber === 1 }">
                    <a class="page-link" (click)="goToPage(pageNumber - 1)">Previous</a>
                  </li>
                  <li class="page-item" [ngClass]="{ active: page === pageNumber }"
                    *ngFor="let page of totalPageCount()">
                    <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
                  </li>
                  <li class="page-item"
                    [ngClass]="{ disabled:pageNumber == totalPageCount()[totalPageCount().length-1] }">
                    <a class="page-link" (click)="goToPage(pageNumber + 1)">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
@else {
<div class="overlay">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

}