.contain {
    display: flex;
    background-color: #e9ecef;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Set the container height to full viewport height for demonstration purposes */
}

.inner-container{
    background-color: white;
    width: 500px; 
    border:1px solid gray;
}