<div class="contain">
    <form [formGroup]="form">
        <div class="inner-container px-8 py-5 shadow rounded-1">
            <img src="/assets/logo.png" width="150" class="img d-inline-block align-text-bottom "><br><br>
            <div class="pb-4 text-2xl font-medium leading-normal text-textDarkest">
                Reset Password
            </div>
            <div>
                <label for="newPassword" class="form-label label ">
                    New Password
                </label>
                <input class="form-control" type="password" placeholder=""
                    formControlName="password">
                <div class="form-text text-danger">
                    @if (form.get('password')?.hasError('required') && form.get('password')?.touched) {
                        <div class="form-text text-danger">
                            Password is Required *
                        </div>
                    }
                    @else if (form.get('password')?.hasError('required') && form.get('password')?.touched) {
                        <div class="form-text text-danger">
                            Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more
                            characters *
                        </div>
                    }
                </div>
            </div><br>
            <div>
                <label for="cpassword" class="form-label label p-0">
                    Confirm Password
                </label>
                <input class="form-control" type="password" placeholder="" formControlName="cpassword">
                <div class="form-group">
                    @if (form.get('cpassword')?.hasError('required') && form.get('cpassword')?.touched) {
                        <div class="form-text text-danger">
                            Confirm Password is Required *
                        </div>
                    }
                    @else if (form.get('cpassword')?.hasError('matching') && form.get('cpassword')?.touched) {
                        <div class="form-text text-danger">
                            Passwords didn't match!
                        </div>
                    }
                </div>
            </div><br>
            
            <div class="flex pt-3">
                <button class="btn-primary mr-2" (click)="reset()"> Change Password </button>
                <button class="'btn-empty'" [routerLink]="['/forgetPassword']">
                    Cancel</button>
            </div>
        </div>
    </form>
</div>