.high{
    bottom: 0;
    width: 250px;
    top: 120px;
    position: fixed;
    background-color: #0048ab;
    border-top-right-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: width ease-in-out 1s;

}

.angle-circle{
    align-items: center;
    right: -10px;
    top: 30px;
    height: 20px;
    position: absolute;
    width: 20px;
    background-color: #ECECEC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.icon-angle{
    font-size: 14px;
    color: #727272;
}

.nav-link{
    color:#fff;
    padding: 10px 15px;
}

.nav-item{
    margin: 4px 15px 0px 15px;
    display: flex;
}



.nav-item:hover{
    /* background-color: #6fabff96; */
    color: #fff;
    border-radius: 20px;
}

/* .active{
    background-color: #6fabff96;
    color: #fff;
    border-radius: 20px;
} */

 .hide-sidebar{
    display: none;
}


.bg-blue{
    background-color:#0048ab;
    border-bottom-right-radius: 8px;
}
.sidebar-collapse{
    width: 80px!important;
    transition: width ease-in-out 1s;
}
