.contain {
    display: flex;
    background-color: #e9ecef;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner-container{
    background-color: white;
    width: 450px; 
}