<div class="contain">
        <div class="inner-container px-4 py-4 shadow rounded-2 shadow">
            <div class="text-center"><img src="/assets/logo.png" width="150" class="img d-inline-block align-text-bottom "></div><br>
            <div class="pb-4 text-2xl font-medium leading-normal text-textDarkest text-center">
                Can't log in ?
            </div>
            <div>
                <label for="InputSprint" class="form-label label p-0">
                    We'll send recovery link to
                </label>
                <input class="form-control" type="email" placeholder="Type e-mail address" [formControl]="email">
                @if(email.hasError('required') && email.touched){
                    <div class="form-text text-danger">
                        Email is Required *
                    </div>
                }
            </div><br>
            <div class="flex pt-3 justify-content-end">
                <button class="btn-primary mr-2" (click)="sendLink()"> Send recovery link </button>
                <button class="btn btn-secondary" [routerLink]="['/']">
                    Cancel</button>
            </div>
        </div>
</div>